	<div class="container">
	<div class="col-md-10 col-md-offset-1" style="margin-top:6%">
	<hr>
		<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<p style="color:white; line-height:24px;">I’m a Seattle-based web developer with roots in the creative side of advertising. As a former Art Director, I love to take a client’s (often vague) direction and create a viable, attractive solution that brings their vision to life. Now as a web developer, I leverage my creativity and problem-solving skills, along with design sense and attention to detail, to create web-based solutions that are practical, user-friendly and easy on the eye.</p>
		</div>
		</div>
	<hr>
	</div>
	</div>