div {
	padding: 30px;
	position: relative;
}

.imgwidth {
	max-width: 200px;
}
.inline {
	display: inline;
	max-width: 75%;
}

.inline-block {
	display: inline-block;
	max-width: 75%;
}

#container {
	position: absolute;
	border: 5px solid black;
	right: 0px;
	top: 0px;
	max-width: 25%;
	height: 300px;
}

.tabtext {
	color: blue;
	margin: 20px;
	text-align: justify;
	text-decoration: underline;

}