/* Fonts */
@font-face {
	font-family: Pacifico;
	src: url(../fonts/Pacifico.ttf) format('truetype');
}
@font-face {
	font-family: MavenPro;
	src: url(../fonts/MavenPro.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Generic styles */
body{
	font-family: arial, sans-serif;
}
a {
	text-decoration: none;
	color: #E44D26;
}
a:hover,
/* apply effect to multiple entries by comma separating */
a:visited {
	color: #923C2E;
}

/* Navigation Styles - select anchor, not the whole link/ thing */
nav li > a,
nav li > a:active,
nav li > a:link,
nav li > a:hover,
nav li > a:visited {
	border: 1px solid transparent;
	color: #FFF;
	display: block;
	font-family: 'MavenPro';
	font-size: 13px;
	font-weight: bold;
	padding: 0 1em;
	text-transform: uppercase;
}
body#home nav li:nth-child(1) a,
body#about nav li:nth-child(2) a,
body#glossary nav li:nth-child(3) a {
	background-color: rgba(0,0,0,0.2);
	border-color: #923C2E;
	border-radius: 3px;
}

/*Header Styles */
header {
	background-color: #E44D26;
	height: 60px;
	margin-bottom: 20px;
}
header > div {
	width: 760px;
	margin: 0 auto;
	position: relative;
}
header h1#logo {
	color: #FFF;
	font-family: 'Pacifico';
	font-size: 32px;
	position: absolute;
}
header nav {
	width: 237px;
	margin: 0 auto;
}
header nav ul li {
	display: inline-block;
	line-height: 26px;
	margin: 18 px 0 0;
	
}