<div class="col-md-12">
<h1 style="text-align:center; font-family: impact; font-size:1000%; color:black">{{airplane.manufacturer}}: <small style="color:black">{{airplane.model}}</small></h1>
<div class="col-md-10 col-md-offset-1"><hr style="border: 14px solid black; margin-top:-20px"></div>
<div class="well item col-md-8 col-md-offset-2" style="margin-top:14px; background-color:black; color:white; font-family:impact; text-align: center">
  <h1>
  Manufacturer: {{airplane.manufacturer}}
  </h1>
  <h4>
  Model: {{airplane.model}}
  </h4>
  <h4>
  Engines: {{airplane.engines}}
  </h4>
</div>
<div class="col-sm-4 col-sm-offset-4">
<a href="/" class="btn btn-primary" style="width:100%; background-color:black; border:1px solid black">Back</a>
  </div>
</div>
