<div class="col-md-12">
<h1 style="text-align:center; font-family: impact; font-size:1600%; color:black">Airplanes!</h1>
<div class="col-md-10 col-md-offset-1"><hr style="border: 14px solid black; margin-top:-20px"></div>
	<div class="col-sm-10 col-sm-offset-1">
      <div class="row" style="margin-top: 20px">
      <div class="col-sm-3">
     <a href="/airplanes/new" class="btn btn-warning" style="width:100%; background-color:black; border:1px solid black" ng-click="createAirplane()">New Airplane!</a>
      </div>
      <div class="col-sm-3">
     <button class="btn btn-warning" style="width:100%; background-color:black; border:1px solid black" ng-click="removeItem()">Remove Airplane!</button>
     </div>
     <div class="col-sm-6">
     <form class="form" ng-submit="search()">
  		<div class="input-group">
    		<input type="text" class="form-control" ng-model="search[searchBy]" placeholder="Search for an Airplane!">
    		<span class="input-group-btn">
      		<input type="submit" class="btn btn-success" style="background-color:black; border:1px solid black">
    		</span>
 		 </div>
		</form>

     </div>
     </div>
     </div>
</div>
<div class="container">
	<div class="col-md-8 col-md-offset-2">
	<div class="well item col-md-8 col-md-offset-2" style="margin-top:14px; background-color:black; color:white; font-family:impact; text-align: center" ng-repeat="airplane in airplanes | filter: search">
		<a ng-href="/airplanes/{{airplane._id}}"><h1>{{airplane.manufacturer}} <small>{{airplane.model}}</small></h1></a>
	</div>
	</div>
</div>