<div class="col-md-12" style="margin-top:-150px">
<h1 style="text-align:center; font-family: impact; font-size:1600%; color:black"><small><small style="color:black">Create A New</small></small> Airplane!</h1>
<div class="col-md-10 col-md-offset-1"><hr style="border: 14px solid black; margin-top:-20px"></div>
<form ng-submit="createAirplane()">
  <div class="form-group">
    <input type="text" class="form-control" ng-model="airplane.manufacturer" placeholder="Manufacturer">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="airplane.model" placeholder="Model">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" ng-model="airplane.engines" placeholder="Engines">
  </div>
  <div class="col-sm-4 col-sm-offset-4">
  <button type="submit" class="btn btn-primary" style="width:100%; background-color:black; border:1px solid black">Submit</button>
  </div>
</form>
</div>